{{>navbars}}
<h2 class="text-warning text-center">BOOK AN APPOINTMENT</h2>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 border">
                <img src="/images/doctors/{{doctorDetails._id}}.jpg" class="col-12" alt="">
                <h3 class="text-center">{{doctorDetails.name}}</h3>
                <h5 class="text-center">{{doctorDetails.specialised}}</h5>
                <h5 class="text-center">{{doctorDetails.field}}</h5>
            </div>
            <div class="col-12 col-md-8 border">
                <div class="col-12 mt-3">
                    <form action="/bookDoctor" method="POST">
                        <h2 class="bg-primary text-center text-white">SELECT YOUR DATE AND TIME</h2>
                        <h4>Consultting Time 10:00 Am to 3:00 Pm</h4>
                        <h5><label for="date">Date : </label><input type="date" name="date"></h5>
                        <h5><label for="time">Time : </label><input type="time" name="time""></h5>
                        <input type="hidden" value="{{doctorDetails.name}}" name="doctorName">
                        <input type="hidden" value="{{doctorDetails.field}}" name="department">

                        <button type="submit" class="btn btn-success">Book</button>
                    </form>
                </div>
                {{#if allReadyBookedTime}}
                <h3 class="mt-5">Already booked time</h3>
                {{/if}}
                <div class="row">
                    {{#each allReadyBookedTime}}
                    <div class="col-3 col-md-2  border border-dark rounded">
                        <h5 class="">{{this.date}}</h5>
                        <h5 class="">{{this.time}}</h5>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>