{{>navbars}}
<div class="container">
    <div class="row">

        {{!-- admin pane left section --}}
        <div class="col-4 ">
            <div class="d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        <img src="/images/user.png" class="rounded-circle col-12 mt-2" />
                        {{!-- <i class="fa fa-camera upload-button"></i> --}}
                        <h4 class="text-center ">{{displayName}}</h4>
                    </div>
                </div>
            </div>
            <div class="row tab">
                <button class="col-12 tablinks" onclick="openTabs(event, 'allDoctors')" id="defaultOpen"><i
                        class="fa fa-home ">All Doctors</i></button>
                <button class="col-12 tablinks" onclick="openTabs(event, 'appointments')"><i
                        class="fa fa-user-md ">Appointments</i></button>
                <button class="col-12 tablinks" onclick="openTabs(event, 'consulted')"><i
                        class="fa fa-wheelchair ">Consulted Appointment</i></button>
                <button class="col-12 tablinks" onclick="openTabs(event, 'cancelled')"><i
                        class="fa fa-calendar">Cancelled Appointment</i></button>
            </div>


        </div>
        {{!-- admin pane left section --}}

        {{!-- admin pane right section --}}
        <div class="col-8 mt-5">

            {{!-- allDoctors tab --}}
            <div class="tabcontent" id="allDoctors">

                <h2 class="text-warning">Welcome {{displayName}} !</h2>
                <h4>You Can Take Appointmant Here</h4>

                <div class="row">
                    {{#each allDoctorDetails}}
                    <div class="col-12 col-md-4 mt-3">
                        <div class="card">
                            <div class="col-12">
                                <img class="card-img-top col-12" src="/images/doctors/{{this._id}}.jpg"
                                    style="height: 150px;" alt="Card image cap" />
                            </div>
                            <div class="card-body">
                                <h2 class="">{{this.name}}</h2>
                                <h5 class="">{{this.specialised}}</h5>
                                <h6 class="">{{this.field}}</h6>
                                <a class="btn btn-success" href="/bookAppointment/{{this._id}}">Book</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

            </div>

            {{!--List of appointments tab --}}
            <div id="appointments" class="tabcontent">

                <h2 class="text-warning">Welcome {{displayName}} !</h2>

                <div class="col-12 mt-5">
                    <h4>Appointments</h4>
                    <div class="row">
                        {{#each allAppointments}}
                        <div class="col-12 col-md-4 mt-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="">Doctor Name:<b>{{this.doctor}}</b></h6>
                                    <h6 class="">Date:<b>{{this.date}}</b></h6>
                                    <h6 class="">Time:<b>{{this.time}}</b></h6>
                                    <h6 class="">Booking for:<b>{{this.bookingFor}}</b></h6>
                                    <hr>
                                    <h6 class="text-warning"><b>{{this.status}}</b></h6>
                                    <a class="btn btn-link" href="#"
                                        onclick="cancelAppointment('{{this._id}}')">cancel</a>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                </div>
            </div>

            {{!-- List of consulted tab --}}
            <div id="consulted" class="tabcontent">

                <h2 class="text-warning">Welcome {{displayName}} !</h2>

                <div class="col-12 mt-5">
                    <h4>Consulted Appointments</h4>
                    <div class="col-12 col-md-4 mt-3">
                        <div class="card">
                            <div class="col-12">
                                <img class="card-img-top col-12" src="/images/doctors.jpg" style="height: 50px;"
                                    alt="Card image cap" />
                            </div>
                            <div class="card-body">
                                <h6 class="">Date:02-01-2020</h6>
                                <h6 class="">Session:AM</h6>
                                <h6 class="">Time:9:30</h6>
                                <hr>
                                <h6 class="text-success"><i class="fa fa-check"></i>Consulted</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- List of cancelled tab --}}
            <div id="cancelled" class="tabcontent">
                <h2 class="text-warning">Welcome {{displayName}} !</h2>
                <h4>Consulted Appointments</h4>
                <div class="row">
                    {{#each allDeletedAppointments}}
                        <div class="col-12 col-md-4 mt-3">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="">Doctor Name:<b>{{this.doctor}}</b></h6>
                                    <h6 class="">Date:<b>{{this.date}}</b></h6>
                                    <h6 class="">Time:<b>{{this.time}}</b></h6>
                                    <h6 class="">Booking for:<b>{{this.bookingFor}}</b></h6>
                                    <hr>
                                    <h6 class="text-danger"><i class="fa fa-close"></i>Cancelled by user</h6>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{!-- admin pane right section --}}
</div>


<style>
    .dropdown-item:hover {
        color: blue;
    }

    .card:hover {
        color: green;
        box-shadow: 1px 8px 20px grey;
        -webkit-transition: box-shadow .6s ease-in;
    }

    /* Style the tab */
    .tab {
        float: left;
        border: 1px solid #ccc;
        background-color: #f1f1f1;

        height: 300px;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
</style>


<script>
    function cancelAppointment(id) {
        let confirmation = confirm('Are you sure to cancel this appointment');
        if (confirmation) {
            $.ajax({
                url: '/cancelAppointment/' + id,
                method: 'get',
                success: (resp => {
                    if (resp) {
                        location.reload()
                    }
                })
            })
        }

    }
    function openTabs(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>